<html dir="ltr">

<head>
    <title>Add Field with Reference Name</title>
    <%= head %>
    <style>
        body.reference-name-extension {
            padding: 10px 20px;
            overflow: auto;
        }
        .nameComponent {
            margin-top: 40px;
        }
    </style>

</head>

<body class="reference-name-extension">
    <script type="text/javascript">
        <%= init %>
    </script>

    <h2>Add a Field with Reference Name</h2>
    <div id="work-item-search-view"></div>
    <div id="react-container"></div>
    <div id="main"></div>
</body>

</html>